<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <!-- jQuery -->
    <script type="text/javascript" th:src="@{/easyui/jquery.min.js}"></script>
    <!-- easyui -->
    <script type="text/javascript" th:src="@{/easyui/jquery.easyui.min.js}"></script>
    <!-- easyui国际化文件，支持中文 -->
    <script type="text/javascript" th:src="@{/easyui/locale/easyui-lang-zh_CN.js}"></script>
    <!--easyui样式文件-->
    <link rel="stylesheet" th:href="@{/easyui/themes/default/easyui.css}" type="text/css">
    <!--easyui图标样式文件-->
    <link rel="stylesheet" th:href="@{/easyui/themes/icon.css}" type="text/css">
</head>
</html>