[{
  "id":1,
  "text":"首页",
  "state":"",
  "attributes":{
    "url":"",
    "iframe":""
  },
  "children":[{
    "id":2,
    "text":"基础字典维护",
    "state":"",
    "attributes":{
      "url":"",
      "iframe":""
    },
    "children":[{
      "id":3,
      "text":"支出/缴纳人",
      "state":"",
      "attributes":{
        "url":"nameDict",
        "iframe":""
      }
    },{
      "id":4,
      "text":"支出/缴纳类别",
      "state":"",
      "attributes":{
        "url":"cateDict",
        "iframe":""
      }
    },{
      "id":5,
      "text":"用户类别",
      "state":"",
      "attributes":{
        "url":"nameCDict",
        "iframe":""
      }
      },{
      "id":6,
      "text":"用户状态",
      "state":"",
      "attributes":{
        "url":"stateDict",
        "iframe":""
      }
    }]
  }]
}]