<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextName>logback</contextName>

    <!-- datasource 配置从yml中获取 -->
    <springProperty scope="context" name="logdcn" source="spring.datasource.driver-class-name"/>
    <springProperty scope="context" name="logurl" source="spring.datasource.url"/>
    <springProperty scope="context" name="logusr" source="spring.datasource.username"/>
    <springProperty scope="context" name="logpwd" source="spring.datasource.password"/>

    <property name="log.path" value="log/logback.log" />
    <!-- 彩色日志 -->
    <property name="CONSOLE_LOG_PATTERN"
              value="%date{yyyy-MM-dd HH:mm:ss} | %highlight(%-5level) | %boldYellow(%thread) | %boldGreen(%logger) : %msg%n"/>
    <!--输出到控制台-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!--输出到文件-->
    <!--<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<file>${log.path}</file>-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
            <!--<fileNamePattern>logback.%d{yyyy-MM-dd}.log</fileNamePattern>-->
            <!--&lt;!&ndash;日志文件保留天数&ndash;&gt;-->
            <!--<MaxHistory>30</MaxHistory>-->
        <!--</rollingPolicy>-->
        <!--<encoder>-->
            <!--<pattern>%d{HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>-->
        <!--</encoder>-->
        <!--&lt;!&ndash;日志文件最大的大小&ndash;&gt;-->
        <!--<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">-->
            <!--<MaxFileSize>10MB</MaxFileSize>-->
        <!--</triggeringPolicy>-->
    <!--</appender>-->

    <!--日志异步到数据库-->
    <appender name="DB" class="ch.qos.logback.classic.db.DBAppender">
        <!--日志异步到数据库 -->
        <connectionSource class="ch.qos.logback.core.db.DataSourceConnectionSource">
            <!--连接池 -->
            <dataSource class="org.apache.commons.dbcp.BasicDataSource">
                <driverClassName>${logdcn}</driverClassName>
                <url>${logurl}</url>
                <username>${logusr}</username>
                <password>${logpwd}</password>
            </dataSource>
        </connectionSource>
    </appender>

    <!-- 声明LOGGER的处理节点 -->
    <logger name="log" additivity="false">
        <appender-ref ref="DB"/>
    </logger>

    <root level="info">
        <appender-ref ref="console" />
        <!--<appender-ref ref="file" />-->
        <!--<appender-ref ref="DB" />-->
    </root>

</configuration>