<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/header :: head">
    <title>支出系统</title>
</head>
<body>
    <!--支出表-->
    <table id="dg" class="easyui-datagrid" title="支出" style="width:auto"
           data-options=" loadMsg: '正在努力为您加载数据',
                        singleSelect:true,
                        collapsible:true,
                        url:'/exp',
                        method:'get',
                        toolbar:'#toolbar',
                        pagination:'true',
                        pageList:[5,10,20],
                        pageSize:5,
                        onLoadSuccess:count">
        <thead>
        <tr>
            <th data-options="field:'id',width:30">ID</th>
            <th data-options="field:'category',width:80">类别</th>
            <th data-options="field:'remark'">细类</th>
            <th data-options="field:'money',width:80">金额</th>
            <th data-options="field:'exdate',width:250">消费时间</th>
            <th data-options="field:'name',width:100">支出人</th>
        </tr>
        </thead>
    </table>

    <!-- 工具栏 -->
    <div id="toolbar" style="padding:5px">
        <div style="margin-bottom:5px">
            <!-- 按钮组 -->
            <a onclick="add()" class="easyui-linkbutton" iconCls="icon-add" plain="true">新增</a>
            <a onclick="remove()" class="easyui-linkbutton" iconCls="icon-remove" plain="true">删除</a>
            <a onclick="edit()" class="easyui-linkbutton" iconCls="icon-edit" plain="true">修改</a>
            <div>
                日期: <input id="sdate" class="easyui-datebox" style="width: 100px">
                至: <input id="edate" class="easyui-datebox" style="width: 100px">
                <a onclick="sch()" class="easyui-linkbutton" iconCls="icon-search">搜索</a>
            </div>
        </div>
    </div>

    <!--合计标签-->
    <p id="p" style="font-size: 14px"></p>

    <!-- 按钮操作绑定-->
    <script type="text/javascript">
        <!-- 新增按钮 -->
        function add(){
            $('#dlg').dialog({closed:false,modal:true});
        };
        <!-- 删除按钮 -->
        function remove(){
            // 获取当前选中行
            var row = $('#dg').datagrid('getSelected');
            if (row) {
                $.ajax({url:'/exp/'+row.id,type:'DELETE',success:function(result){
                    $.messager.show({
                        title:'温馨提示',
                        msg:result,
                        timeout:1000,
                        showType:'slide'
                    });
                    $('#dg').datagrid('reload');//删除后重新加载下
                }});
            }
        };
        <!-- 修改按钮 -->
        function edit(){
            // 获取当前选中行
            var row = $('#dg').datagrid('getSelected');
            if (row) {
                $('#dlg').dialog({
                    closed:false,
                    modal:true,
                    title:'修改',
                });
                $('#ff').form('load',row);
            }
        };
        <!-- 搜索 -->
        function sch(){
            $('#dg').datagrid({url:'/exp/' + $('#sdate').datebox('getValue') + '/' + $('#edate').datebox('getValue')});
        };
    </script>

    <!--合计计算-->
    <script type="text/javascript">
        function count() {
            var rows = $('#dg').datagrid('getRows')//获取当前页的数据行
            var total = 0;
            for (var i = 0; i < rows.length; i++) {
                total += rows[i]['money']; //获取指定列
            }
            $('#p').html('消费总金额：' + "<span style='color: red;font-size: 20px'>" + '￥' + total.toFixed(2)  + "</span>");
        }
    </script>

    <!-- 新增表单 -->
    <div id="dlg" class="easyui-dialog" title="新增" closed="true" data-options="iconCls:'icon-save'" style="width:auto;height:auto;padding:10px">
        <div style="padding:10px 60px 20px 60px">
            <form id="ff" class="easyui-form" method="post" data-options="novalidate:true">
                <table cellpadding="5">
                    <!-- 隐藏域id -->
                    <input type="hidden" id="id" name="id">
                    <tr>
                        <td>类别:</td>
                        <td>
                            <select class="easyui-combobox" name="category" style="">
                                <option value="生活费">生活费</option>
                                <option value="生活费2">生活费2</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>细类:</td>
                        <td><input class="easyui-textbox" type="text" name="remark" data-options="required:true"></input></td>
                    </tr>
                    <tr>
                        <td>金额:</td>
                        <td><input class="easyui-textbox" type="text" name="money" data-options="required:true"></input>/元</td>
                    </tr>
                    <tr>
                        <td>消费时间:</td>
                        <td><input class="easyui-datetimebox" name="exdate" id="exdate"></td>
                    </tr>
                    <tr>
                        <td>支出人:</td>
                        <td>
                            <select class="easyui-combobox" name="name">
                                <option value="Louiemain">Louiemain</option>
                                <option value="xtz">xtz</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </form>
            <div style="text-align:center;padding:5px">
                <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()">提交</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()">清除</a>
            </div>
        </div>
        <script>
            function submitForm(){
                    $('#ff').form('submit',{
                        url:'/exp',
                        onSubmit:function(){
                            // 解决form不能提交put请求
                            if (id.value > 0){
                                $('#ff').append('<input type="hidden" name="_method" value="PUT" />');
                            }
                            // 表单验证
                            return $(this).form('enableValidation').form('validate');
                        },
                        success:function (data) {
                            $('#dlg').dialog('close');
                            $.messager.show({
                                title:'温馨提示',
                                msg:data,
                                timeout:1000,
                                showType:'slide'
                            });
                            return $('#dg').datagrid('reload');
                        }
                });
            }
            function clearForm(){
                $('#ff').form('clear');
            }

            // 默认当前系统时间
            $(function()
            {
                var curr_time=new Date();
                var strDate=curr_time.getFullYear()+"-";
                strDate +=curr_time.getMonth()+1+"-";
                strDate +=curr_time.getDate()+"-";
                strDate +=" "+curr_time.getHours()+":";
                strDate +=curr_time.getMinutes()+":";
                strDate +=curr_time.getSeconds();
                $("#exdate").datetimebox("setValue",strDate);
            });

        </script>
    </div>
</body>
</html>