<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>欢迎使用消费记录系统</title>
    <head th:replace="common/header :: head"></head>
</head>
<body class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north'" style="height: 80px;background-image:url(/img/banner.png);"></div>
    <div data-options="region:'west',split:true,title:'菜单导航'" style="width:200px;">
        <div class="easyui-accordion" data-options="fit:true,border:false">
            <div title="记录选择" data-options="selected:true,iconCls:'icon-application-cascade'" style="overflow:hidden;padding-top: 5px">
                <ul class="easyui-tree wu-side-tree">
                    <li iconCls="icon-undo"><div style="width: 160px" onclick="addTabs('支出明细记录','expenses')">支出明细记录</div></li>
                    <li iconCls="icon-arrow-switch"><div style="width: 160px" onclick="addTabs('缴纳明细记录','income')">缴纳明细记录</div></li>
                    <script type="text/javascript">
                        function addTabs(title,url) {
                            if ($('#tt').tabs('exists', title)){
                                $('#tt').tabs('select', title);
                            } else {
                                var content = '<iframe scrolling="auto" frameborder="0"  src="'+ url +'" style="width:100%;height:100%;"></iframe>';
                                $('#tt').tabs('add',{
                                    title:title,
                                     content:content,
                                    // href:url,
                                    closable:true,
                                });
                            }
                        };
                    </script>
                </ul>
            </div>
            <div title="系统设置" data-options="selected:true,iconCls:'icon-cog'" style="overflow:hidden;padding-top:5px;">
                <ul class="easyui-tree wu-side-tree">
                    <li iconCls="icon-world-go"><div style="width: 160px" onclick="addTabs('系统日志','log')">系统日志</div></li>
                </ul>
            </div>
            <div title="字典管理" data-options="selected:true,iconCls:'icon-book'" style="overflow:hidden;padding-top:5px">
                <ul class="easyui-tree wu-side-tree">
                    <li iconCls="icon-application-form-edit"><div style="width: 160px" onclick="addTabs('字典设置','dict')">数据字典维护</div></li>
                </ul>
            </div>
        </div>
    </div>
    <div data-options="region:'east',split:true,collapsed:true,title:'East'" style="width:100px;padding:10px;">east region</div>
    <div data-options="region:'south',border:true" style="height:50px;background-image: url(/img/footer.png)">
        <!-- 尾部信息 -->
        <div th:insert="common/footer :: footer" style="text-align: center"></div>
    </div>
    <div data-options="region:'center'">
        <div id="tt" class="easyui-tabs" data-options="border:true,fit:true">
            <div title="欢迎" data-options="iconCls:'icon-help'" style="padding:10px">
                <h1 style="color:#0099FF;">欢迎使用！</h1>
            </div>
        </div>
    </div>
</body>
</html>