<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/header :: head">
</head>
<body>
<table id="dg" class="easyui-datagrid" style="width:700px;height:250px"
       data-options="
       singleSelect:true,
       loadMsg: '正在努力为您加载数据',
       singleSelect:true,
       collapsible:false,
       fit:true,
       rownumbers:true,
       striped:true,
       toolbar:'#toolbar',
       url:'logevent',
       remoteSort:false,
       sortOrder: 'desc',
       sortName: 'time',
       method:'get'">
    <thead>
    <tr>
        <th data-options="field:'time',width:150,sortable:'true'">时间</th>
        <th data-options="field:'level_string',width:80,sortable:'true'">日志级别</th>
        <th data-options="field:'formatted_message',align:'left',sortable:'true'">日志信息</th>
        <th data-options="field:'caller_class',sortable:'true'">日志提交者</th>
    </tr>
    </thead>
</table>

<!-- 工具栏 -->
<div id="toolbar" style="padding:2px">
    <div>
        <!-- 按钮组 -->
        <a onclick="refresh()" class="easyui-linkbutton" iconCls="icon-refresh" plain="true">刷新</a>
    </div>
</div>

<script type="text/javascript">
    function refresh() {
        $("#dg").datagrid({url:'logevent'});
    }
</script>


</body>