<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:insert="common/header :: head">
</head>
<body>
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'center',border:false">
        <table id="dg" class="easyui-datagrid" style="width:700px;height:auto"
               data-options="
				iconCls:'icon-edit',
				singleSelect: true,
				toolbar: '#tb',
				fitColumns:true,
				fit:true,
				rownumbers:true,
				url:'/permission/all',
				method:'GET'">
            <thead>
            <tr>
                <th data-options="field:'name',width:50">权限类别</th>
                <th data-options="field:'permission',width:100">权限名称</th>
                <th data-options="field:'resource_type',width:100">资源类型</th>
                <th data-options="field:'url',width:100">资源路径</th>
                <th data-options="field:'available',width:80,
                                formatter:function(value,row){
                                    if(value == 0 ) {
                                        return '已停用';
                                    }if(value == 1 ) {
                                        return '已启用';
                                    }
                                }">权限状态
                </th>
                <th data-options="field:'parentPer',width:100">父级权限</th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<!-- 工具栏 -->
<div id="tb" style="height:auto">
    <a shiro:hasPermission="permission:add" href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true"
       onclick="add()">添加</a>
    <a shiro:hasPermission="permission:edit" href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true"
       onclick="edit()">修改</a>
    <a shiro:hasPermission="permission:del" href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true"
       onclick="remove()">停用</a>
</div>

<!-- 新增表单 -->
<div id="dlg" class="easyui-dialog" closed="true" data-options="buttons:'#dlg-buttons'"
     style="width:450px;height:auto;padding:10px">
    <div style="padding:10px 60px 20px 60px">
        <form id="ff" class="easyui-form" method="post" data-options="novalidate:true">
            <table cellpadding="5">
                <!-- 隐藏域id -->
                <input type="hidden" id="id" name="id">
                <div style="margin-bottom:20px;font-size:14px;border-bottom:1px solid #ccc">权限详细信息</div>

                <div style="margin-bottom:10px">
                    <select id="parentPer" name="pid" class="easyui-combobox" label="父级权限:"
                            style="width:100%">
                    </select>
                </div>

                <div style="margin-bottom:10px">
                    <input name="name" class="easyui-textbox" required="true" label="权限类别:"
                           style="width:100%">
                    </input>
                </div>

                <div style="margin-bottom:10px">
                    <input name="permission" class="easyui-textbox" required="true" label="权限名称:" style="width:100%">
                    </input>
                </div>
                <div style="margin-bottom:10px">
                    <select id="resource_type" name="resource_type" class="easyui-combobox" required="true" label="资源类型:" style="width:100%">
                    </select>
                </div>
                <div style="margin-bottom:10px">
                    <input name="url" class="easyui-textbox" required="true" label="资源路径:" style="width:100%">
                    </input>
                </div>

                <div style="margin-bottom:10px">
                    <select id="available" name="available" class="easyui-combobox" required="true" label="权限状态:"
                            style="width:100%">
                    </select>
                </div>
            </table>
        </form>
        <div style="padding:5px" id="dlg-buttons">
            <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" style="width:90px"
               onclick="submitForm()">提交</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" style="width:90px"
               onclick="clearForm()">重置</a>
        </div>
    </div>
</div>

<!-- 按钮操作 -->
<script type="text/javascript">
    // 新增按钮
    function add() {
        $('#ff').form('reset');
        init();
        $('#dlg').dialog({
            title: '新增',
            closed: false,
            modal: true,
            iconCls: 'icon-save'
        });
    };
    <!-- 删除按钮 -->
    function remove() {
        // 获取当前选中行
        var row = $('#dg').datagrid('getSelected');
        if (row) {
            $.messager.confirm('确认', '确定要停用选择的记录吗?', function (r) {
                if (r) {
                    $.ajax({
                        url: '/permission/del/' + row.id, type: 'DELETE', success: function (result) {
                            $.messager.show({
                                title: '温馨提示',
                                msg: result,
                                timeout: 1000,
                                showType: 'slide'
                            });
                            $('#dg').datagrid('reload');//删除后重新加载下
                        }
                    });
                }
            });
        } else {
            $.messager.show({
                title: '温馨提示',
                msg: '请选择需要删除行。',
                timeout: 1000,
                showType: 'slide'
            });
        }
    };
    <!-- 修改按钮 -->
    function edit() {
        // 获取当前选中行
        var row = $('#dg').datagrid('getSelected');
        if (row) {
            $('#dlg').dialog({
                title: '修改',
                closed: false,
                modal: true,
                iconCls: 'icon-edit'
            });
            init();
            $('#ff').form('load', row);
        } else {
            $.messager.show({
                title: '温馨提示',
                msg: '请选择需要修改行。',
                timeout: 1000,
                showType: 'slide'
            });
        }
    };
    <!-- 提交 -->
    function submitForm() {
        $('#ff').form('submit', {
            url: '/permission/add',
            onSubmit: function () {
                // 解决form不能提交put请求
                if (id.value > 0) {
                    $('#ff').append('<input type="hidden" name="_method" value="PUT" />');
                }
                // 表单验证
                return $(this).form('enableValidation').form('validate');
            },
            success: function (data) {
                $('#dlg').dialog('close');
                $.messager.show({
                    title: '温馨提示',
                    msg: data,
                    timeout: 1000,
                    showType: 'slide'
                });
                $('#dg').datagrid('reload');
            }
        });
    }
    <!-- 重置 -->
    function clearForm() {
        $('#ff').form('reset');
        init();
    }

    // 初始化下拉框
    function init() {
        $("#available").combobox({
            url: 'availableDict',
            method: 'GET',
            valueField: 'id',
            textField: 'text'
        });
        $("#resource_type").combobox({
            url: 'resourceTypeDict',
            method: 'GET',
            valueField: 'id',
            textField: 'text'
        });
        $("#parentPer").combobox({
            url: '/ctx/per',
            method: 'GET',
            valueField: 'id',
            textField: 'text'
        });
    }

</script>
</body>
</html>